<div class="header">
    <h1>THE DRESSCODE.</h1>
    <button class="pageButton" ng-click="switchPage()">
        <h2> Go to {{page}} </h2>
    </button>
</div>
<div class="bodyWrapper">
    <div ng-hide="!quickCartView">
        <div class="overlay"></div>
        <div class="modal" ng-include="'partials/quick_cart_view.html'"></div>
    </div>
    <div ng-hide="page=='Shopping Cart'">
        <div ng-include="'partials/shopping_cart.html'" ng-controller="ShoppingCartCtrl"></div>
    </div>
    <div ng-hide="page=='Product List'">
        <div ng-include="'partials/products.html'" ng-controller="ProductsCtrl" ng-init="init()"></div>
    </div>
</div>