<div class="vouchers" ng-controller="VouchersCtrl" ng-init="init()">
    <div>
        <h2 class="vouchersMessage" ng-if="eligibleVouchers.length > 0">
            Look! You're eligible for discounts!
        </h2>
    </div>
    <div class="voucherList" ng-repeat="voucher in eligibleVouchers">
        <div class="voucherItem">
            Voucher: {{voucher.description}}
            <div class="voucherNotification" ng-if="isVoucherApplied(voucher)">VOUCHER APPLIED!</div>
            <button class="voucherItemButton" ng-if="!isVoucherApplied(voucher)" ng-click="applyVoucher(voucher)">Apply
                Voucher
            </button>
        </div>
    </div>
    <div>
        <h3 class="vouchersTotal" ng-if="eligibleVouchers.length > 0">
            New total price when you apply your discounts: {{newPrice |currency:"GBP£"}}
        </h3>
    </div>
</div>

