<div class="vouchers">
    <div>
        <p class="vouchersMessage" ng-if="eligibleVouchers.length > 0">
            Look! Lucky you, you're eligible for discounts!
        </p>
    </div>
    <div class="voucherList" ng-repeat="voucher in eligibleVouchers">
        <div class="voucherItem">
            Voucher: {{voucher.description}}
            <div class="voucherNotification" ng-if="isVoucherApplied(voucher)">VOUCHER APPLIED!</div>
            <button class="voucherItemButton" ng-if="!isVoucherApplied(voucher)" ng-click="applyVoucher(voucher)">Apply
                Voucher
            </button>
        </div>
    </div>
    <div>
        <p class="vouchersTotal" ng-if="eligibleVouchers.length > 0">
            New total price when you apply your discounts: {{newPrice |currency:"GBP£"}}
        </p>
    </div>
</div>

