<html>
<head>
    <title>DressCode</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/shoppingcart.css">
    <link rel="stylesheet" href="/styles/vouchers.css">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' type='text/css'>
</head>
<body ng-app="app">
    <script type="text/javascript" src="/vendor/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="/vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="/vendor/lodash/lodash.js"></script>


    <script type="text/javascript" src="/app/app.js"></script>
    <script type="text/javascript" src="/app/main_ctrl.js"></script>

    <script type="text/javascript" src="/app/domain/products/product.js"></script>
    <script type="text/javascript" src="/app/domain/products/products_ctrl.js"></script>
    <script type="text/javascript" src="/app/domain/products/products_service.js"></script>

    <script type="text/javascript" src="/app/domain/shopping_cart/shopping_cart_ctrl.js"></script>

    <script type="text/javascript" src="/app/domain/shopping_cart/vouchers/voucher.js"></script>
    <script type="text/javascript" src="/app/domain/shopping_cart/vouchers/vouchers_ctrl.js"></script>
    <script type="text/javascript" src="/app/domain/shopping_cart/vouchers/vouchers_service.js"></script>


    <div ui-view=""></div>
</body>
