<!DOCTYPE html>
<html>
    <head>
        <title>DressCode</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/vendor/toastr/toastr.js">
    </head>
    <body>
        <h1>Dress Code</h1>
        <script src="/vendor/angular/angular.js"></script>
        <script src="/vendor/angular-resource/angular-resource.js"></script>
        <script src="/vendor/angular-route/angular-route.js"></script>
        <script src="/vendor/jquery/dist/jquery.js"></script>
    </body>
</html>