<div>
    <div class="itemsBlock">
        <div class="item" ng-repeat="product in products">
            <div class="itemTitle">{{ product.name }}</div>

            <div class="itemPrice">{{ product.price |currency:"USD$"}}</div>
            <div class="itemDetails">
                <div>{{ product.category }}</div>
                <div>Quantity: {{ product.quantity }}</div>
            </div>

            <div class="itemButtons"ng-controller="ShoppingCartCtrl">
                <button ng-disabled="product.quantity == 0" ng-click="addItem(product)">Add to cart</button>
                <button ng-if="isInCart(product)" ng-click="removeItem(product)">Remove from cart</button>
            </div>
        </div>
    </div>

</div>