<div ng-controller="ShoppingCartCtrl">
    <div class="cart">
        <div class="cartHeader">SHOPPING CART</div>
        <div ng-repeat="item in cart track by $index">
            <div class="cartItem">
                Product in Cart: {{item.name}}, {{ item.price |currency:"GBP£"}}
                <button class="cartItemButton" ng-click="removeItem(item) && updatePrice()">Remove item</button>
            </div>
        </div>
        <div class="cartFooter"> Total Price: {{totalPrice |currency:"GBP£"}}</div>
    </div>


    <div ng-include="'partials/main/vouchers.html'" ng-controller="VouchersCtrl" ng-init="init()"></div>

</div>