body{
    margin:0;
    font-family: 'Open Sans', sans-serif;
    background-color:  #FFF82A;
}

.header {
    background-color:  black;
    padding: 1em;
   color:  #FFF82A
}

.footer {
    background-color: rgb(0, 159, 77);
}

.itemsBlock {
    display: inline-block;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}

.item {
    border: 0.4em solid;
    border-radius: 0.4em;
    width:15em;
    height: 21em;
    float:left;
    text-align: center;
    margin:  0.5em;
}

.itemTitle {
    font-family: 'Pacifico', cursive;
    color: white;
    background: black;
    height:32%;
    padding: 0.6em;
    font-size: 1.5em;
    /*font-weight: bold;*/
}

.itemPrice {
    color: #E20359;
    background: #292b2e;
    height:10%;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1em 0 0.5em 0;
}

.itemDetails{
    color: white;
    background: black;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 1em 0 0.5em 0;
    height:10%
}

.itemButtons {
    background: black;
    height:20%;
    padding: 1em 0 0 0;
}

button{
    padding: 0.8em ;
    background-color:#E20359;
    color: white;
    border: 0.4em solid #E20359;
    border-radius: 0.4em;
}

.pageButton {
    float:right;
    margin-top: -0.8em;
    margin-right: -1em;
    font-size: 1.2em;
}