body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    font-weight: 100;
}

.bodyWrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: white;
    border-bottom: 1.5px solid black;
}

.header h1 {
    color: black;
    font-size: 2em;
    display: inline-block;
    margin-left: 1em;
    font-weight: 100;
}

.pageButton {
    float: right;
    background-color: rgb(182,224,38);
    padding-top: 2.2em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    margin-right: 5.2em;
    width: 15em;
}

.pageButton:hover {
    border-bottom: none;
    color: white;
    background-color: rgb(41,154,11);
}

.pageButton h2 {
    font-size: 1.2em;
    color: white;
    font-weight: 100;
}

button {
    padding: 0.8em;
    background-color: white;
    border: 0.1em solid  white;
    color: rgb(182,224,38);
    font-size: 0.6em;
}

button:disabled {
    color: #808080;
}

button:disabled:hover {
    color:  #808080;
    border-bottom: none;
}

button:hover {
    color: rgb(41,154,11);
    border-bottom: 0.3em solid  rgb(41,154,11);
}

.wrapper {
    margin-top: 3em;
}

.vouchers {
    margin: 2em;
    background-color: white;
}

.vouchersMessage {
    border: 0.4em solid #E20359;
    border-radius: 0.4em 0.4em 0 0;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    padding: 1em;
    background-color: #E20359;
    color: white;
}

.voucherList {
    background-color: white;
}

.voucherItem {
    padding: 1em;
    height: 2.3em;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid black;
}

.voucherItemButton {
    float: right;
}

.voucherNotification {
    float: right;
}

.vouchersTotal {
    font-size: 1em;
    padding: 1.5em;
    background-color: #E20359;
    color: white;
}