.itemsBlock {
    display: inline-block;
}

.item {
    width: 16em;
    height: 22em;
    float: left;
    text-align: center;
    margin: 0.5em;
}

.itemPictureContainer {
    height:20%
    background-size:cover;
}

.itemDetailsContainer{
    height:18%;
    padding-top: 0.5em;
}

.itemButtonsContainer {
    height:20%;
}

.itemTitle {
    font-size: 0.6em;
    font-weight: bolder;
}

.itemPrice {
    font-size: 0.6em;
}

.itemDetails {
    font-size: 0.6em;
    font-weight: lighter;
}