.cart {
    margin: 2em;
}

.cartHeader {
    height: 2.3em;
    text-align: center;
    padding: 2em;
    border-bottom: 0.2em solid rgb(182,224,38);
}

.cartHeader h2 {
    font-size: 1.5em;
    font-weight: 100;
}

.cartFooter {
    height: 2em;
    padding: 1em;
}

.cartFooter h3 {
    font-weight: 300;
}

.cartItem {
    padding: 1em;
    height: 2.3em;
}

.cartItemButton {
    float: right;
    font-size: 0.7em;
}
