.vouchers {
    margin: 2em;
    background-color: rgb(247,247,247);
    padding-left: 2em;
    padding-right: 2em;
}

.vouchersMessage {
    font-size: 1.2em;
    font-weight: 100;
    margin-bottom: 2.5em;
    padding-top: 2em;
}

.voucherItem {
    margin-top:2em;
}

.voucherItemButton {
    float: right;
    background-color: transparent;
}

.voucherNotification {
    float: right;
    font-size: 0.8em;
}

.vouchersTotal {
    font-size: 1em;
    font-weight: bolder;
    padding-top: 1em;
    padding-bottom:2em;
}